body{
    color: white;
}
header{
    background-color: #3FD4BB;
}

.imgTitle{
    float: left;
    width: 30px;
}
nav{
    background-color: #3FD4BB;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    justify-content: space-around; 
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 1px 30px;
}
.titre{
    background-color:#22C1C3;
    text-align: right;
    

}
main{
    background-color: white;
    width: 160%;
    margin: 0 auto;
}
.zone_1{
    background:  linear-gradient(to bottom, rgb(100, 160, 228), rgb(178, 133, 158));
    margin-left: 10%;
    width: 40%;
    border-radius: 10px;   
    display: flex;
    margin-bottom: 20px; 
}
.zone_2{
    background: linear-gradient(to top, rgb(94, 217, 194),rgb(73, 144, 194));
    margin-left: 10%;
    width: 40%;
    border-radius: 10px;  
    display: flex;
    margin-bottom: 20px;
}
.zone_3{
    background:	 linear-gradient(to top, rgb(215, 132, 35),rgb(92,144,181));
    margin-left: 10%;
    width: 40%;
    border-radius: 10px;
    display:flex;
    margin-bottom: 20px;
}
h2,h3,h4{
    text-align: center;
}
.image{
    border-radius:50%;
    height: 300px;
    width: 300px;
}
.th{
    order: 2;
}
footer{
    background-color: #3FD4BB;
    margin: 0 auto;
    padding: 1%;
}